/*Sacha Gonzalez*/


:root{
    --orange: #F5845E;
}
@font-face {
    font-family: 'quicksand';
    src: url(quicksand.otf);
}

/* Regular */
@font-face {
    font-family: 'acumin';
    src: url(Acumin-RPro.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'acumin';
    src: url(Acumin-BdPro.otf) format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'acumin';
    src: url(Acumin-ItPro.otf) format('opentype');
    font-weight: normal;
    font-style: italic;
}


/* Bold Italic */
@font-face {
    font-family: 'acumin';
    src: url(Acumin-BdItPro.otf) format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Geometos';
    src: url(Geometos.ttf);
}

@font-face {
    font-family: 'Bebas';
    src:url(BebasNeue-Regular.otf);
}

body {
    font-family: 'acumin', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F1F1F2;
}

p {
    font-family: 'quicksand';
    font-size: 18px;
}
a {
    color: var(--orange);
    font-size: 16px;

}
a:hover {
    color:  #97C6FF; /* Change to your preferred color when hovered (here, using orange as an example) */
}
.zwart {
    background-color: #333132
}
main, footer {
    width: 90vw;
    margin: 0px;
}

header {
    display: flex;
    justify-content: center; /* Center the navbar items */
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    font-size: 20px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center; /* Horizontally center the navigation */
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center; /* Horizontally center the list items within the navigation */
}

nav ul li {
    margin-right: 20px;
}

nav ul a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 4px transparent solid;
}

.active a,
nav a:hover {
    border-bottom: 4px #fff solid;
    color: var(--orange);
}

.active a, nav a:hover {
    border-bottom: 4px #fff solid; 
    padding-bottom: 10px;
    border-bottom-color: var(--orange);
}

main { 
    display: flex;
    margin: auto;
    align-content: center;
}

h1 {
    font-family: 'Geometos';
    font-size: 36px;
    color: #333132;
}

h2 {
    padding: 0;
}

h2 a {
    font-weight: bold;
    color: inherit; /* Optional: inherit the color from the surrounding text */
}



#socials a { 
    color: #ed1651;
    font-family: 'quicksand';
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px; }

background-color: #ed1651; color: white;}

#slideshow-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin: 0 auto; /* Center the slideshow container */
}
.piece-container {
    display: inline-block;
    width: 90vw;
    vertical-align: top;
    overflow-y: auto; /* Allows vertical scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling within each piece-container */
}

.embed-responsive {
    height: 480px;
}

.piece {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-bottom: 80px; /* Add padding to account for the black border */
}
.video-container {
    width: 70%;
    position: relative;
    padding-bottom: 65%; /* Adjust this value as needed to raise or lower the video */
    overflow: hidden;
}

.video-container iframe {
    width: 100%;
    height: 100%;
}

#piece-txt {
    padding-left: 20px;
    overflow: visible;
    max-width: 40vw;
    white-space: normal;
}
}

.btn-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
}

.btn-container button {
    font-family: 'Geometos';
    font-size: 40px;
    margin-bottom: -8px;
    border: none;
    background-color: transparent;
    color: #333132;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
    text-align: left;
    z-index: 1; 
}
.btn-container button:hover {
    color: red;
    transform: translateY(-5px);
}

/* OVERVIEW */

.overview {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding-bottom: 20px; 
    margin: auto; 
}

.overview-btn {
    border: 2px solid transparent;
    padding: 5px;
    background-color: transparent;
}

.overview-btn img {
    width: 70px; 
    border: 2px solid transparent;
}

.overview-btn.active img {
    border-color: red; 
}

.overview-btn img:hover {
    border-color: red;
}

.overview-btn:hover {
    transform: translateY(-5px);
}

/* TAGS */

.tags {
    margin-top: 10px;
}

.tag {
    background-color: #FCAB95;
    display: inline-block;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
}

.tag-cpp {
    background-color: #659BD3; /* Red background */
    color: white;
}

.tag-art {
    color: #333333;
    background-color: #FFF08B; /* Yellow background */
}

.tag-csharp {
    background-color: #9A4891;
    color: white;
}



/* INDEX */

.navbar-group {
    display: flex;
}

.navbar-buttons {
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 30vw; /* Add desired distance between buttons */
}

.navbar-download-button {
    font-family: 'quicksand';
    font-weight: lighter;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar-download-button:hover {
    background-color: var(--orange);
    color: white;
}

.slideshow-content {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    height: 100%; /* Set the height to 100% to stretch the content */
}

.slideshow-content .slide {
    display: none;
}

.slideshow-content .slide:first-child {
    display: block;
}

.slideshow {
    position: relative;
}

.slideshow-prev-btn,
.slideshow-next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
}

.slideshow-prev-btn {
    left: 10px;
    color: var(--orange);
}

.slideshow-next-btn {
    right: 10px;
    color: var(--orange);
}
.link-buttons {
    position: relative;
    bottom: 0;
    right: 0;
    margin-top: 10px;
    text-align: right;
}
.button {
    display: inline-block;
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #555555;
}

.git-link-btn {
    background-color: #6469B0;
}
.page-link-btn {
    background-color: var(--orange);
}
.download-demo-btn {
    background-color: var(--orange);
}
.embed-responsive {
    position: relative;
    padding-bottom: 52.17%; 
    height: 0;
}
.embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make the iframe responsive */
    height: 100%; /* Make the iframe responsive */
}

.piece {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-bottom: 80px; /* Add padding to account for the black border */
}
.piece-container .piece img {
    width: 100%; /* Ensure the image takes the full width of its container */
    height: 100%; /* Ensure the image takes the full height of its container */
    object-fit: cover; /* Scale the image to cover the container while maintaining aspect ratio */
}
#slideshow-container {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin: 0 auto;
}

@media screen and (max-width: 1468px) and (orientation: portrait) {

    body {
        overflow: auto;
    }

    .button {
        padding: 50px 50px;
        margin: 100px 0 100px 0;
        text-decoration: none;
        border-radius: 55px;
        margin-right: 10px;
        transition: background-color 0.3s ease;
    }

    /* New styles for the .content-wrapper */
    .content-wrapper {
        position: relative; /* Ensure .overview is positioned relative to this container */
    }

    .overview {
        width: 100%;
        background-color: var(--dark-grey);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        position: absolute;
        bottom: 0; /* Position the overview at the bottom */
    }

    .overview-btn {
        margin: 0 5px; /* Adjust the spacing between overview buttons */
    }

    /* Optional: Adjust font size and button sizes for better mobile presentation */
    .overview-btn img {
        max-width: 60px;
        max-height: 60px;
    }

    .overview-btn.active img {
        border: 3px solid var(--orange);
    }

    .overview-btn img {
        border: 3px solid transparent;
        border-radius: 50%;
        transition: border-color 0.3s ease;
    }
    .piece {
    flex-direction: column; /* Arrange elements vertically */
    align-items: center; /* Center elements horizontally */
    height: auto; /* Remove fixed height */
    max-height: 80vh;
    overflow: auto;
}
    .piece-title h1 {
        font-size: 60px;
        text-align: center;
    }

    .slider-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    .piece-container {
        min-width: 100%;
        flex: 0 0 100%;
        scroll-snap-align: start;
        overflow-y: auto; /* Enable vertical scrolling when content exceeds the container height */
        max-height: 93%;
    }

    #piece-txt {
        text-align: center;
        padding: 20px;
        margin-top: 0; /* Reset the margin top */
        margin-bottom: 0; /* Reset the margin bottom */
        max-width: none;
        max-height: none;
    }

    #piece-txt h2 {
        font-size: 60px;
        margin-top: 0;
    }

    #piece-txt h3 {
        font-size: 55px;
        margin-top: 200px;
        overflow: visible;
    }
    #piece-txt p {
        font-size: 30px;
        margin-bottom: 0; 
    }

    .video-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* Adjust this value as needed to maintain the iframe aspect ratio (16:9) */
}

    header {
        display: flex;
        justify-content: center; /* Center the navbar items */
        align-items: center;
        width: 100%;
        height: 160px;
        margin: 0 auto;
        font-size: 35px;
    }

    .navbar-buttons {
        margin-right: 5vw; /* Add desired distance between buttons */
    }

    .navbar-buttons li {
        margin-right: 10px;
    }

    .navbar-buttons li a {
        font-size: 35px;
    }

    .navbar-download-button {
        font-size: 50px;
        color: white;
        background-color: var(--orange);
        padding: 20px 20px;
    }

    .link-buttons {
        text-align: center;
    }
/* Optional: Adjust the padding or margin for the tags to avoid overlapping with the iframe */
.tags {
    font-size: 16px;
    margin-bottom: 100px; /* Adjust this value as needed */
}

    .tag {
        padding: 5px 10px;
        border-radius: 0px;
        margin-right: 5px;
    }

    #slideshow-container {
        height: 90vh;
    }
    .embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make the iframe responsive */
    height: 100%; /* Make the iframe responsive */
    max-height: 100%; /* Allow the iframe to scale down while maintaining aspect ratio */
}

}
</style>

