/*Sacha Gonzalez*/
:root{
    --orange: #F5845E;
}
@font-face {
    font-family: 'quicksand';
    src: url(quicksand.otf);
}

/* Regular */
@font-face {
    font-family: 'acumin';
    src: url(Acumin-RPro.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'acumin';
    src: url(Acumin-BdPro.otf) format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'acumin';
    src: url(Acumin-ItPro.otf) format('opentype');
    font-weight: normal;
    font-style: italic;
}


/* Bold Italic */
@font-face {
    font-family: 'acumin';
    src: url(Acumin-BdItPro.otf) format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Geometos';
    src: url(Geometos.ttf);
}

@font-face {
    font-family: 'Bebas';
    src:url(BebasNeue-Regular.otf);
}

body {
    font-family: 'acumin', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F1F1F2;
}

p {
    font-family: 'quicksand';
    font-size: 18px;
}

.zwart {
    background-color: #333132
}
main, footer {
    width: 75vw;
    margin: 0px;
}

header {
    display: flex;
    justify-content: center; /* Center the navbar items */
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    font-size: 20px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center; /* Horizontally center the navigation */
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center; /* Horizontally center the list items within the navigation */
}

nav ul li {
    margin-right: 20px;
}

nav ul a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 4px transparent solid;
}

.active a,
nav a:hover {
    border-bottom: 4px #fff solid;
    color: var(--orange);
}

.active a, nav a:hover {
    border-bottom: 4px #fff solid; 
    padding-bottom: 10px;
    border-bottom-color: var(--orange);
}

main { 
    display: flex;
    margin: auto;
    align-content: center;
}

h1 {
    font-family: 'Geometos';
    font-size: 36px;
    color: #333132;
}

h2 {
    padding: 0;
}

h2 a {
    font-weight: bold;
    color: inherit; /* Optional: inherit the color from the surrounding text */
}

#index {
    display: flex;
    position: relative;
}




#right p { 
    font-size: 20px;
    margin-top: 0;
}
#block {display: block;}

#drop {display: flex;}
#drop img { width: 500px; margin-top: 60px;}
#drop p { padding: 0 20px;}

#black-magic {margin-top: 40px;}
#black-magic p { text-align: center; }


.creative { display: flex; margin: 0; border-top: 4px #ed1650 solid; border-bottom: 4px #ed1650 solid; width: 100%;}
#creative-space { padding: 0; width: 100%;}
#creative-space p { margin-top: 0; text-align: center; padding: 0; }
#creative-space img { margin-left: auto; margin-right: auto; width: 100%}

.heroes { margin-top: 10px; margin-bottom: 200px; }
#art1 { width: 800px;}
#art2 { height: 397px; }
.heroes p {text-align: center; }

#cube {display: flex; text-align: left; margin-top: 30px; margin-bottom: 50px; }
#cube h1 { text-align: left; }
#cubeimg { flex-wrap: wrap; width: 1080px;}
#cube-txt { 
    padding: 0 20px; 
    margin-top: auto; 
    margin-bottom: auto;
    background-color: rgba(245, 245, 245, 0.2);
    color: #333132;
}


#contactpage {  margin-top: 120px;}

#adress img {width: 2%}
#socials a { 
    color: #ed1651;
    font-family: 'quicksand';
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px; }


.comment {
    margin-bottom: 0;
    justify-content: space-between;
}
textarea {
    width: 30em;
    height: 2em;
}

.comment p {
    vertical-align: top;
}

.vraag textarea {
    height: 10em;
}

#verzenden {width: 50%; height: 50px; background-color: #ed1651; color: white;}



#slideshow-container {
    width: 100vw;
    height: 80vh; 
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}


.piece-container {
    display: inline-block;
    width: 75vw;
    height: 100%;
    scroll-snap-align: start;
    vertical-align: top;
    overflow: hidden;
}

.piece-container::-webkit-scrollbar {
    display: none; 
}

.embed-responsive {
    height: 480px;
}

.link-buttons {
    direction: rtl;
}

.piece {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-bottom: 80px; /* Add padding to account for the black border */
}
.piece > * {
    flex: 1;
}
.video-container {
    width: 70%; 
}

.video-container iframe {
    width: 100%;
    height: 100%;
}

#piece-txt {
    padding-left: 20px;
    overflow: auto;
    white-space: normal;
}
}

.btn-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
}

.btn-container button {
    font-family: 'Geometos';
    font-size: 40px;
    margin-bottom: -8px;
    border: none;
    background-color: transparent;
    color: #333132;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
    text-align: left;
    z-index: 1; 
}
.btn-container button:hover {
    color: red;
    transform: translateY(-5px);
}

/* OVERVIEW */

.overview {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding-bottom: 20px; 
    margin: auto; 
}

.overview-btn {
    border: 2px solid transparent;
    padding: 5px;
    background-color: transparent;
}

.overview-btn img {
    width: 70px; 
    border: 2px solid transparent;
}

.overview-btn.active img {
    border-color: red; 
}

.overview-btn img:hover {
    border-color: red;
}

.overview-btn:hover {
    transform: translateY(-5px);
}

/* TAGS */

.tags {
  margin-top: 10px;
}

.tag {
background-color: #FCAB95;
  display: inline-block;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 5px;
}

.tag-cpp {
  background-color: #659BD3; /* Red background */
    color: white;
}

.tag-art {
    color: #333333;
  background-color: #FFF08B; /* Yellow background */
}

.tag-csharp {
    background-color: #9A4891;
    color: white;
}



/* INDEX */

.navbar-group {
    display: flex;
}

.navbar-buttons {
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 30vw; /* Add desired distance between buttons */
}

.navbar-download-button {
    font-family: 'quicksand';
    font-weight: lighter;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar-download-button:hover {
    background-color: var(--orange);
    color: white;
}

.slideshow-content .slide {
  display: none;
}

.slideshow-content .slide:first-child {
  display: block;
}

   .slideshow {
        position: relative;
    }

    .slideshow-prev-btn,
    .slideshow-next-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        font-size: 24px;
        color: #ffffff;
        cursor: pointer;
    }

    .slideshow-prev-btn {
        left: 10px;
        color: var(--orange);
    }

    .slideshow-next-btn {
        right: 10px;
        color: var(--orange);
    }
.link-buttons {
  margin-top: 10px;
}
.button {
        display: inline-block;
        background-color: #333333;
        color: #ffffff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 4px;
        margin-right: 10px;
        transition: background-color 0.3s ease;
    }

    .button:hover {
        background-color: #555555;
    }

    .git-link-btn {
        background-color: #6469B0;
    }

    .download-demo-btn {
        background-color: var(--orange);
    }
</style>

